body{
  margin: 0;
  text-align: center;
}
h1{
  margin: 20px auto 20px auto;
  font-family: 'Style Script', cursive;
  font-size: 5.625rem;
  color: #B85C38;
}
h2{
  margin: 20px auto 20px auto;
  font-family: 'Style Script', cursive;
  font-size: 2rem;
  color: #B85C38;
}
h3{
  font-family: 'Verdana', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  color: #5C3D2E;
  }
p{
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  color: #5C3D2E;
}
hr{
  border: dotted #865439 6px;
  width: 5%;
border-bottom: none;
margin: 120px auto;
}

.top-container {
  background-color: #F2BB7B;
  position: relative;
  padding-top: 100px;
}

.skill-row{
  width: 50%;
  margin: auto;
  text-align: left;
  line-height: 1.5;
}
.poori{
  width: 30%;
}
.topcloud{
  position:absolute;
  top: 80px;
  right: 220px;
}
.bottomcloud{
  position:absolute;
  left: 250px;
  bottom: 300px;
}

.dish-img{
  width: 20%;
  margin-top: 20px;
}
.cookie-img1{
  width: 15%;
  float: left;
  margin-right: 30px;
  border-radius: 60px;
}
.cookie-img2{
  width: 15%;
  float: right;
  margin-left: 30px;
  border-radius: 60px;
}

.contact-message{
  width: 40%;
  margin: 20px auto 40px;
}

.middle-container {
  background-color: #F2BB7B;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.btn {
  background: #a35921;
  background-image: -webkit-linear-gradient(top, #a35921, #b86d2b);
  background-image: -moz-linear-gradient(top, #a35921, #b86d2b);
  background-image: -ms-linear-gradient(top, #a35921, #b86d2b);
  background-image: -o-linear-gradient(top, #a35921, #b86d2b);
  background-image: linear-gradient(to bottom, #a35921, #b86d2b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #000000;
  -moz-box-shadow: 0px 1px 3px #000000;
  box-shadow: 0px 1px 3px #000000;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  padding: 11px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fcbc3c;
  background-image: -webkit-linear-gradient(top, #fcbc3c, #cfad00);
  background-image: -moz-linear-gradient(top, #fcbc3c, #cfad00);
  background-image: -ms-linear-gradient(top, #fcbc3c, #cfad00);
  background-image: -o-linear-gradient(top, #fcbc3c, #cfad00);
  background-image: linear-gradient(to bottom, #fcbc3c, #cfad00);
  }

.bottom-container {
  background-color: #5C3D2E;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}
#copyright{
  color: white;
  font-size: .65rem;
  padding: 20px 0 10px;
}
.footer-link{
padding-left: 30px;
text-decoration: none;
color: white;
}

a:hover{
  color: #a35921;
  font-size: 1.2rem;
}
